<div class="page-header text-center">
	<h1>Your Todos</h1>
</div>

<div class="todos">
	<div class="triplet" ng-repeat="triplet in user.data">
		<div class="col-sm-4">
			<div ng-if="triplet[0]" class="todo panel panel-default">
				<div class="panel-body todo-panel">
					<span ng-if="triplet[0]">{{triplet[0].body}}</span>
				</div>				
			</div>
		</div>
		<div class="col-sm-4">
			<div ng-if="triplet[1]" class="todo panel panel-default">
				<div class="panel-body todo-panel">
					<span ng-if="triplet[1]">{{triplet[1].body}}</span>
				</div>				
			</div>
		</div>
		<div class="col-sm-4">
			<div ng-if="triplet[2]" class="todo panel panel-default">
				<div class="panel-body todo-panel">
					{{triplet[2].body}}
				</div>				
			</div>
		</div>
	</div>
</div>