<div class="page-header text-center">
	<h1 ng-if="user.type === 'create'">Create User</h1>
	<h1 ng-if="user.type === 'edit'">Edit User</h1>
</div>

<form class="form-horizontal" ng-submit='user.saveUser()'>


	<div class="form-group">
		<label class="col-sm-3 control-label">Username</label>
		<div class="col-sm-6">
			<input type='text' class="form-control" ng-model="user.userData.username">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Password</label>
		<div class="col-sm-6">
			<input type='password' class="form-control" ng-model="user.userData.password">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-3">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type === 'create'">Create User</button>
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type === 'edit'">Save Changes</button>
		</div>
	</div>
</form>

<div class="row show-hide-message" ng-show="user.data">
	<div class="col-sm-offset-3 col-sm-6">
		<div class="alert alert-info">
			{{user.data.message}}
			<ul ng-show="user.data.errors">
				<li ng-repeat="error in user.data.errors">{{error.message}}</li>
			</ul>

		</div>
	</div>			
</div>




